.globalheader {
    padding: 80px;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }

.globalheader .navright .headernav{
  float: right;
  font-size: 50px;
  font-display: red;
  border-radius: 10%;
}
