/* Main Page */
.globalheader {
    padding: 80px;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}
#mainwall{
  background-image: url("./picture/mainwall.jpg");
}

main {
  margin-top: 15px;
  padding: 10px 16px;
  background-color: #eee;
}

.headerLogo img {
  background-color: whitesmoke;
  border-radius: 100%;
  width: auto;
  height: 250px;
}

.header-nav-right a{
  font-family: 'Oswald', cursive;
  float: right;
  background-color: black;
  color: white;
  text-align: right;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 30px;
  border-style:solid ;
  border-radius: 10%;
}


.mobile-nav-icon {
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  font-size: 20px;
  background-color: Black;
  display: none;
}
.headernav{
  display: flex;
  flex-direction: row-reverse;
}
.headernav a:hover{
  color: black;
  background-color: white;
}
.headernav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}


.catname{
  text-decoration: none;
  padding-top: 10px;
  text-align: center;
  color: white;
}

.catname :hover{
  color: black;
  border-radius: 5%;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: white;
}

.more-categories{
  font-size: 30px;
  padding: 20px;
}

.genre{
  color: antiquewhite;
  margin: 1%;
  border-radius: 2%;
}

.genre a{
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Oswald', cursive;
  font-size: 150%;
}

.bookname:hover{
  border-radius: 3%;
  color: black;
  background-color: white;
}

.genre p{
  font-family: 'Oswald', cursive;
  font-size: 120%;
}
.genre img{
  width: 60%;
  height: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  padding: 8px;
}
#fiction{
  background-image: url("./picture/fiction.jpg");
}
#nonfic{
  background-image: url("./picture/nonfic.jpg");
}

.more-categories{
  text-align: center;
}
.more-categories a{
  color: black;

}

.media{
  text-align: center;
}
.media h2{
  color: red;
}

.globalfooter{
  margin-top: 30px;
  padding: 20px;
  background-color: darkblue;
  color: white;
}

.footer-nav-right a{
  float:right;
  color: white;
  margin-right: 10px;
  text-decoration: none;
}
.footernav a:hover{
  text-decoration: underline; 
}

/* fiction */
#fictionwall{
  background-image: url("./picture/fictionwall.jpg");
}
#scifi{
  background-image: url("./picture/scifi.jpg");
}
#scifi a{
  font-family: 'Handjet', cursive;
}
#fantasy{
  background-image: url("./picture/fantasy.jpg")
}
#fantasy a{
  font-family: 'Indie Flower', cursive;
}
/* non fiction */
#nonficwall{
  background-image: url("./picture/nonficwall.jpg");
}
#selfhelp{
  background-image: url("./picture/nonfic.jpg")
}
#selfhelp a{
  font-family: 'Oswald', cursive;
}
#history{
  background-image: url("./picture/history.jpg")
}
#history a{
  font-family: 'Dancing Script', cursive;
}


/* Contact Us */
.heading{
  text-align: center;
  padding: 10px 16px;
  background-color: #eee;
}
.form{
  background-color: white;
  color: black;
  padding: 30px;
}
.submitbutton{
  color: red;
  font-size: 20px;
}

.enter{
  display: flex;
  flex-direction: row;
}
.check{
  display: flex;
  flex-direction: row;
}


@media (max-width: 768px){
  .enter{
    flex-direction: column;
  }
}

/* Books */
ul.breadcrumb {
  text-align: center;
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 25px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: black;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: black;
  text-decoration: underline;
}

.book-content {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.book-images {
  width: 30%;
}

.large-image {
  width: 100%;
  background-color: black;
  padding: 8px ;
}

.right-section {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.small-images {
  display: flex;
  width: 50%;
  flex-direction:column;
  justify-content: space-between;
}

.small-images img {
  width: 30%;
  margin-bottom: 10px;
  background-color: black;
  padding: 8px ;
}

.book-details {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.price {
  font-size: 24px;
  color: #333;
}

.add-to-cart {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.book-description {
  margin-top: 50px;
}

@media (max-width: 430px){
  .headerLogo img{
    height: auto;
    width: 100%;
  }
}


@media (max-width: 768px) {
  .headernav {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 5px 20px;
  }

  .headernav ul {
    flex-direction: column;
    align-items:start;
    margin-top: 20px;
  }

  .headernav li {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .headernav a{
    text-align: left;
  }

  .headernav {
    display: none;
  }

  .mobile-nav-icon {
    display: block;
  }

  .mobile-nav-icon:hover+.headernav {
    display: block;
  }

  .headernav:hover {
    display: block;
  }
  

  .book-content {
    flex-direction: column;
  }
  .book-images{
    justify-content: center;
    align-items: center;
  }
  .book-images img{
    width: 70%;
  }
  .right-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .small-images {
    display: flex;
    width: 50%;
    flex-direction:row;
    justify-content: space-around;
  }
  .small-images img{
    margin: 10%;
  }

  .book-images, .right-section {
      width: 100%;
      text-align: center;
  }
}


/*Responsive Genre*/
.genre{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.book{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book a{
  text-align: center;
  width: 100%;
}
.books img{
  height: 80%;
}

@media (max-width: 768px){
  .books{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media(max-width: 768px){
  .media iframe{
    height: 70%;
    width: 60%;
  }
}


